.contact-form {
	padding-top: 200px;
	display: inline;
}

label {
	margin: 0px;
	padding: 0px;
}

.form-img {
	margin: 0px;
	padding: 0px;
}

input {
	margin: 0px;
	padding: 0px;
}

#name-wrapper {
	margin-bottom: 20px;
}
#email-wrapper {
	margin-bottom: 20px;
}
#message-wrapper {
	margin-bottom: 2px;
}

input {
	height: 30px;
	width: 500px;
	padding: 1px;
	font-size: 20px;
}

textarea {
	height: 200px;
	width: 500px;
	padding: 1px;
	font-size: 18px;
}