.App {
  text-align: center;
  padding: 20px;
  height: 100vh;
}
.content {
  margin: 0px auto;
  padding-top: 150px;
}

#hi {
  height: 150px;
  margin-right: 60px;
}
#im-jonathan {
  height: 150px;
}