.Work {
  text-align: center;
  padding: 20px;
  height: 100vh;
}
.work-content {
  padding-top: 100px;
}
ul.work-list {
  display: inline;
  list-style-type: none;
  padding: 0px;
}
ul.work-list li { 
  padding: 0px;
  margin: 10px;
  display: inline-block;
  border: 1px solid #b3b3b3;
}

.work-img {
  margin: 0.5px;
}