.Work {
  text-align: center;
  margin-top: 10%;
  padding: 0px;
}
ul.work-list {
  display: inline;
  list-style-type: none;
  padding: 0px;
}
ul.work-list li { 
  padding: 0px;
  margin: 20px;
  display: inline-block;
  border: 1px solid #b3b3b3;
}

.work-img {
  margin: 1px;
}
