.Work {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 60px;
  padding: 0px;
}
ul.work-list {
  display: inline;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
ul.work-list li { 
  padding: 0px;
  margin: 0px 20px 0px 20px;
  display: inline-block;
}

.work-title {
  display: block;
  margin: 0 auto;
}
.work-img {
  margin: 0px;
  padding: 1px;
  border: 1px solid #b3b3b3;
}
.description {
  width: 350px;
  font-size: 16px;
}
