ul.header {
  margin: 0px;
  padding: 0px;
  height: 60px;
  float: right;
  list-style-type: none;
  overflow: hidden;
}
ul.header li {
  float: left;
}
ul.header li a {
  display: block;
  text-align: center;
  text-decoration: none;
  margin:0px;
  padding: 14px 5px;
}
li a:hover {
  -webkit-filter : brightness(1.2);
  filter : brightness(1.2);
}
.active {
  -webkit-filter : brightness(1.2);
  filter : brightness(1.2);}
.navBut {
  height: 28px;
}
